#headline{
    background-color: #353535;
    padding: 4%;
    color: #47AAA8;
    text-align: center;
    margin-bottom: 40px;
}

#headline p{
    font-size: 12pt;
}

.menu-panel{
    width: 85%;
    background-color: gainsboro;
    display: block;
    position: relative;
    padding-bottom: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.menu-panel:before{
    display: block;
}
.content{
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.content div{
    display: table;
    width: 100%;
    height: 100%;
}

.content h4 {
    display: table-cell;
    text-align: center;
    width: 100%;
    vertical-align: middle;
}

.content p{
    font-weight: 0;
}

#setup{
    text-align: right;
    margin-right: 1%;
}

#setup .glyphicon{
    color:#47AAA8;
}

#setup h4{
    color: #353535;
}